<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Item</title>
</head>
<body style="background-color: rgb(97, 100, 53);">
    <h3>Id</h3>
    <p>{{item.item_id}}</p><hr>
    <h3>Discription</h3>
    <p>{{item.discription}}</p><hr>
    <h3>Quantity</h3>
    <p>{{item.quantity}}</p><hr>
    <h3>Manufacturer</h3>
    <p>{{item.manufacturer}}</p><hr>
</body>
</html>
