<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show All Items</title>
</head>
<body style="background-color: rgb(97, 100, 53);">
    {% for item in items %}
    <h3>{{item}}</h3><hr>
    {% endfor %}
    <form action='' method="post">
        <input type = "submit" value="Create a new item">
        <a href='/data/create'></a>
    </form>
</body>
</html>
