<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Item</title>
</head>
<body style="background-color: rgb(97, 100, 53);">
  <form action='' method = "POST">
    <p>discription <input type = "text" name = "discription" value="{{item.discription}}"/></p>
    <p>quantity <input type = "integer" name = "quantity"  value="{{item.quantity}}"/></p>
    <p>manufacturer <input type = "text" name = "manufacturer" value="{{item.manufacturer}}"/></p>
    <p><input type = "submit" value = "Submit" /></p>
  </form>
</body>
</html>
